body {
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 100vh; */
  /* position: relative; */
}
canvas {
  padding: 30px;
  border: 2px solid #000;
  display: inline-block;
  margin: 0 auto;
}
.numberArea {
  width: 100%;

}
.scoreNo, .lifeNo {
  width: 100%;
  /* height: 100%; */
}
.scoreArea, .lifeArea {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
input.form-control::placeholder {
  color: #979090;
  opacity: .3;
}